aiohttp==3.12.14
blinker==1.9.0
ezdxf==1.3.5
numpy==2.2.3
opencv_python==4.11.0.86
platformdirs==4.3.6
pypotrace==0.3
pycairo==1.27.0
PyGObject==3.50.0
PyOpenGL==3.1.9
PyOpenGL_accelerate==3.1.9
pypdf==6.0.0
pyserial_asyncio==0.6
pyvips==3.0.0
PyYAML==6.0.2
scipy==1.15.2
svgelements==1.9.6
websockets==14.2
