#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	dh_auto_install

override_dh_python3:
	pip3 install \
		--no-build-isolation \
		--no-dependencies \
		--no-index \
		--find-links=file://$(CURDIR)/vendor/sdist \
		--target=$(CURDIR)/debian/rayforge/usr/lib/python3/dist-packages \
		--upgrade \
		pypotrace

	dh_python3 --no-guessing

override_dh_clean:
	# This is still necessary to prevent the vendor directory from being deleted.
	echo "Skipping dh_clean to preserve vendored sdist."
