[Desktop Entry]
Version=1.0
Type=Application

Name=Rayforge
Comment=Laser cutting and engraving
Categories=AudioVideo;GTK;

Icon=com.barebaric.rayforge
Exec=rayforge
Terminal=false
