[Desktop Entry]
Name=Rayforge
Comment=Laser cutting and engraving
Exec=rayforge
Icon=rayforge
StartupNotify=true
Terminal=false
Type=Application
NoDisplay=true
Categories=GTK;Viewer;Graphics;2DGraphics;VectorGraphics;
MimeType=;
